*.py[cod]

.pytest_cache/

# C extensions
*.so

# Packages
.idea
*.idea
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Pyenv
.python-version

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.email_password.txt
.db_password.txt
local_settings.py
# Translations
*.mo

*.nja

media/*

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# VIM
.ropeproject
*.swp

quokka/mediafiles
etc/elasticdata/elasticsearch
etc/mongodata/journal
etc/mongodata/_tmp
etc/mongodata/*.0
etc/mongodata/*.ns
etc/mongodata/*.lock
etc/mongodata/*.bson
etc/mongodata/*.wt
etc/mongodata/WiredTiger*
etc/mongodata/*.data
*.log
*.pid
*.cache*

databases
quokka/project_template/databases/*.json
!quokka/project_template/databases/README.md

quokka/project_template/uploads/*
!quokka/project_template/uploads/README.md

quokka/project_template/static_build/*
!quokka/project_template/static_build/README.md

quokka/project_template/modules/*
!quokka/project_template/modules/README.md

.venv
venv
old_*
.envrc

docs/book

.eggs

README.rst
/nbproject/private/
