flask
flask-script
wtforms<2.0
mongoengine
flask_mongoengine
blinker
Flask-Assets
Flask-Babel
Flask-Gravatar
oauthlib
Flask-OAuthlib
https://github.com/quokkaproject/flask-htmlbuilder/tarball/master
Flask-Login<0.2.7
Flask-Principal
Flask-Mail
Flask-Testing
Flask-Cache
# flask-admin (needs fix)
https://github.com/flask-admin/flask-admin/archive/v1.0.8.zip
flask-babelex
flask-debugtoolbar
#flask-weasyprint
dealer
flask-collect
flake8
passlib
twill
markupsafe
Pillow
pyyaml
speaklater
https://github.com/pythonhub/quokka-themes/tarball/master
flask-security
awesome-slugify
Flask-Mistune
pymongo==2.7.1
nose
PyRSS2Gen
