flask
flask-script
wtforms<2.0
mongoengine
flask_mongoengine
blinker
Flask-Assets
Flask-Babel
Flask-Bcrypt
Flask-Gravatar
Flask-OAuthlib
https://github.com/quokkaproject/flask-htmlbuilder/tarball/master
Flask-Login<0.2.7
Flask-Principal
Flask-Mail
Flask-Testing
Flask-Cache
flask-admin
flask-babelex
flask-debugtoolbar
dealer
flask-collect
flake8
passlib
# twill
https://github.com/alexandre/twill/tarball/master
markupsafe
Pillow
pyyaml
speaklater
https://github.com/alexandre/quokka-themes/tarball/master
flask-security
awesome-slugify
Flask-Mistune
pymongo==2.7.1
nose
