nose
coverage
coveralls
flask
flask-script
WTForms
mongoengine
flask_mongoengine
blinker
Flask-Assets
Flask-Babel
Flask-Bcrypt
Flask-Mistune
Flask-OAuthlib
Flask-Gravatar
https://github.com/majorz/flask-htmlbuilder/tarball/master
Flask-Login<0.2.7
Flask-Principal
Flask-Mail
Flask-Testing
Flask-Cache
https://github.com/mrjoes/flask-admin/tarball/master
https://github.com/mrjoes/flask-babelex/tarball/master
flask-debugtoolbar
dealer
flask-collect
flake8
passlib
markupsafe
Pillow
pyyaml
speaklater
https://github.com/pythonhub/quokka-themes/tarball/master
https://github.com/pythonhub/flask-security/tarball/quokka
awesome_slugify
