<p class="meta">
  <span class="byline author vcard">
    Posted by <span class="fn">
      {% if AUTHORS_SAVE_AS %}
        <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
      {% else %}
        {{ article.author }}
      {% endif %}
    </span>
  </span>
  {% include '_includes/article_time.html' %}
  <span class="categories">
    <a class='category' href='{{ SITEURL }}/{{ article.category.url }}'>{{ article.category }}</a>
  </span>
  {% if article.tags %}
  <span class="categories">
    {% for tag in article.tags %}
    <a class="category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
  </span>
  {% endif %}
</p>
