{% macro editor(selector) %}
<script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/custom.js') }}"></script>
<script type="text/javascript">
    tinymce.init({
	selector: "{{ selector }}",
	content_css : "{{ theme_static('bootstrap/css/bootstrap.css') }}, {{ theme_static('bootstrap/css/bootstrap-responsive.css') }}",
	theme: "modern",
	plugins: [
	    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	    "searchreplace wordcount visualblocks visualchars code fullscreen",
	    "insertdatetime media nonbreaking save table contextmenu directionality",
	    "emoticons template paste textcolor"
	],
	toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
	toolbar2: "print preview media | forecolor backcolor emoticons",
	image_advtab: true,
	templates: [
	    {title: 'Test template 1', content: 'Test 1'},
	    {title: 'Test template 2', content: 'Test 2'}
	]
    });
</script>
{% endmacro %}

{% macro prepopulated(master, slave) %}
<script type="text/javascript">
    $("{{ master }}").keyup(function(){
	$("{{ slave }}").val(slugify($(this).val()));
    });
    $("{{ master }}").blur(function(){
	$("{{ slave }}").val(slugify($(this).val()));
    });
</script>
{% endmacro %}