<footer class="page-footer {{ MALT_BASE_COLOR }} darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre</h5>
                <p class="grey-text text-lighten-4">
                {{ FOOTER_ABOUT }}
                </p>


            </div>
            <div class="col l3 offset-l3 s12">
                <h5 class="white-text">Social</h5>
                <ul class="social-links">
                {% for link in SOCIAL_LINKS %}
                    <li>
                        <a class="white-text" href="{{ link['href'] }}" title="{{ link['text']}}">
                            <i class="fa {{ link['icon'] }}"></i> {{ link['text'] }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright {{ MALT_BASE_COLOR }} darken-4">
        <div class="container">
            Feito com 
            <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>,
            <a class="orange-text text-lighten-3" href="https://github.com/getpelican/pelican">Pelican</a>,
            <a class="orange-text text-lighten-3" href="https://python.org/">Python</a> e
            <a class="orange-text text-lighten-3" href="http://vim.org">VIM</a>.
        </div>
    </div>
</footer>
