<div class="navbar-fixed">
    <nav class="{{ MALT_BASE_COLOR }} role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="/" class="brand-logo">
                    {{ SITENAME }}
                </a>

                {% set _MENUITEMS = [] %}

                {% if MENUITEMS %}
                    {% for item in MENUITEMS %}
                        {% do _MENUITEMS.append(item) %}
                    {% endfor %}
                {% endif %}

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                       {% do _MENUITEMS.append((cat.name, cat.url)) %}
                    {% endfor %}
                {% endif %}

                {% if not PAGES_SORT_ATTRIBUTE -%}
                    {% set PAGES_SORT_ATTRIBUTE = 'title' %}
                {%- endif %}

                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
                       {% do _MENUITEMS.append((p.menulabel|default(p.title), p.url)) %}
                    {% endfor %}
                {% endif %}

                {% if _MENUITEMS %}
                <ul class="right hide-on-med-and-down">
                    {% for name, url in _MENUITEMS %}
                    {% if page is defined %}
                        {% set href = page.url %}
                    {% elif page_name is defined %}
                        {% set href = page_name %}
                    {% else %}
                        {% set href = None %}
                    {% endif %}
                    <li {% if href == url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ url}}">{{ name}}</a></li>
                    {% endfor %}

                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li class="{{ MALT_BASE_COLOR }} lighten-1" id="nav-mobile-header">
                        <div class="row center">
                            <div class="col s12" id="nav-mobile-header-img">
                                <a href="/" alt="{{ SITENAME }}" title="{{ SITENAME }}">
                                    <img class="circle responsive-img valign z-depth-1" alt="{{ SITENAME }} Logo" title="{{ SITENAME }}" src="{{ SITEURL }}/{{ SITELOGO }}">
                                </a>
                            </div>
                            <div class="col s12" id="nav-mobile-header-text">
                                <span class="{{ MALT_BASE_COLOR }}-text text-lighten-5">{{ SITENAME }}</span>
                            </div>
                        </div>
                    </li>
                    {% for name, url in _MENUITEMS %}
                    {% if page is defined %}
                        {% set href = page.url %}
                    {% elif page_name is defined %}
                        {% set href = page_name %}
                    {% else %}
                        {% set href = None %}
                    {% endif %}
                    <li {% if href == url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>
</div>
