{% from theme('_helpers.html') import render_blog, render_pagination with context %}
{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description}}">
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% endblock %}

{% block content %}
    {{render_blog(contents.items)}}
    <div class="col-12 col-sm-12 col-lg-12" style="clear:both;">
     {{render_pagination(contents, channel.get_absolute_url())}}
    </div>
{% endblock %}