{% macro build_node(node, class="", style="", id="") %}
    <div id="{{id}}" style="{{style}}" class="list-group-item {%if request.path.startswith(node.get_absolute_url()) %}active {% else %} root-menu-item {% endif %} {{class}}">
    <a href="{{ node.get_absolute_url() }}">
       {{node.title}}
    </a>
    {{build_nodes(node)}}
    </div>
{% endmacro %}

{% macro build_nodes(parent=None, nodes=None) %}
     {% if not parent and nodes %}
      <div class="list-group">
        {% for node in nodes|selectattr("show_in_menu") %}
            {{ build_node(node, id="menu-%s" % node.id) }}
        {% endfor %}
      </div>
     {% elif parent %}

    {% for node in parent.get_children(show_in_menu=True) %}
       {{
       build_node(
           node,
           id="menu-%s" % node.id,
           class="menu-child {0} menu-{1}".format(
               ("hidden-menu" if not request.path.startswith(parent.get_absolute_url()) else ""),
               parent.id
           )
       )
       }}
    {% endfor %}

     {% endif %}
{% endmacro %}
