{% extends theme('admin/master.html') %}
{% import theme('admin/lib.html') as lib with context %}

{% block body %}
    <h3>{{ _gettext('You are editing %(path)s', path=path) }}</h3>
    {% if error %}
    <span>This file cannot be edited for now.</span>
    {% else %}
    {{ lib.render_form(form, dir_url) }}
    {% endif %}
{% endblock %}

{% block tail %}
<script language="javascript" type="text/javascript" src="{{theme_static('edit_area/edit_area_full.js')}}"></script>
<script language="javascript" type="text/javascript">
editAreaLoader.init({
    id : "content"  // textarea id
    ,min_width:600
    ,min_height:400
    ,replace_tab_by_spaces:true
    ,start_highlight: true
    ,allow_toggle: true
    ,language: "en"
    ,syntax: "html"
    , toolbar: "search, go_to_line, fullscreen, |, undo, redo, |, select_font, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, word_wrap, |, help"
    ,syntax_selection_allow: "css,html,js,python,xml"
    ,show_line_colors: true
});
</script>
{% endblock %}
