language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
install:
    - pip install pelican markdown
before_script:
    - git clone https://github.com/getpelican/pelican-plugins plugins
script: pelican -s tests/pelicanconf.py
notifications:
    email: false
