{% extends theme('admin/master.html') %}
{% import theme('admin/lib.html') as lib with context %}

{% macro extra() %}
  <input name="_continue_editing" type="submit" class="btn" value="{{ _gettext('Save and continue editing') }}" />
{% endmacro %}

{% block head %}
    {{ super() }}
    <link href="{{ theme_static('select2/select2.css') }}" rel="stylesheet">
    <link href="{{ theme_static('datetimepicker/bootstrap-datetimepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% call lib.form_tag(form) %}
	{{ lib.render_form_fields(form, form_opts=form_opts, form_rules=form_rules) }}
	{{ lib.render_form_buttons(return_url, extra()) }}
    {% endcall %}
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ theme_static('datetimepicker/bootstrap-datetimepicker.js') }}"></script>
  <script src="{{ theme_static('admin/js/form.js') }}"></script>
{% endblock %}
