{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}
{% extends theme("base.html") %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include theme('sidebar.html') %}
    <div class="pure-u-1">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
              <h1>Edit Profile</h1>
                <form  action="{{ url_for('quokka.modules.accounts.profile_edit') }}" method="POST" enctype="multipart/form-data" name="change_password_form" class="pure-form pure-form-aligned" role="form">
                <fieldset>

                  <label> Imagem:<br />
                     <input type="file" name="avatar" id="avatar" />
                  </label>
                 <img src="{{ current_user.get_avatar_url(size=200) }}" width="200" />

                 {% for field in form %}

                  {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                    {{ field() }}
                  {%elif field.type == 'FieldList' %}
                      {{field()}}
                  {% else %}
                      {{ render_field_with_errors(field,  class="form-control") }}
                  {% endif %}

                  {% endfor %}

                  <input type='submit' class="pure-button pure-button-primary">
                </fieldset>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
