{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/custom.js') }}"></script>

    <!-- TODO: Do a local instalation fallback to tinymce -->
    <script type="text/javascript">
    tinymce.init({
        selector: ".html_editor",
        content_css : "{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}, {{ url_for('admin.static', filename='bootstrap/css/bootstrap-responsive.css') }}",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ]
    });

    $("#title").keyup(function(){
        $("#slug").val(slugify($(this).val()));
    });
    </script>
{% endblock %}