{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{% block front %}

    {{load_page_header(content)}}
    <div class="col-6 col-sm-6 col-lg-6">
        <small>{{load_page_time(content)}}</small>
    </div>
    <div class="col-6 col-sm-6 col-lg-6">
        {{load_share_area(content)}}
    </div>

{% endblock %}

{% block content %}

    <div class="col-12 col-sm-12 col-lg-12">

        {{load_page_content(content)}}

        {{load_tags_area(content)}}

        {{load_recommendation_area(content)}}

        {{load_comment_area(content)}}

    </div>
{% endblock %}