{% from theme('_helpers.html') import render_grid, render_pagination with context %}
{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description}}">
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% endblock %}

{% block front %}
<div class="jumbotron">
    <h2>Welcome to {{Config.get('site', 'site_name')}}!</h2>
    <p>{{Config.get('site', 'description', '')}}</p>
</div>
{% endblock %}

{% block content %}
    {{render_grid(contents.items)}}
    <div class="col-12 col-sm-12 col-lg-12" style="clear:both;">
     {{render_pagination(contents, channel.get_absolute_url())}}
    </div>
{% endblock %}