<!DOCTYPE html>
<html>
  <head>{% block head %}
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='css/admin.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='css/forms.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('admin.static', filename='img/favicon.png') }}" type="image/png">
        <link rel="shortcut icon" href="{{ url_for('admin.static', filename='img/favicon.png') }}" type="image/png">
    {% endblock %}
  {% endblock %}</head>
  <body>
    {% block page_body %}
      <div class="container">
        {% block user_control %}
        <div class="row">
            <div class="span12">
                <div class="pull-right">
                     <span class="label"><b>{{current_user.name}}</b> | <a href="{{url_for_security('change_password')}}">password</a> | <a href="{{url_for_security('logout')}}">logout</a></span>
                </div>
            </div>
        </div>
        {% endblock %}

      <div class="row">
        <div class="span2">

          {% block brand %}
             {{ config.get('ADMIN_BRAND', '')|safe }}
          {% endblock %}

          {% block menu %}
          <ul id="main-nav" class="nav nav-pills nav-stacked">
            {% for item in admin_view.admin.menu() %}
              {% if item.is_category() %}
                {% set children = item.get_children() %}
                {% if children %}
                  {% if item.is_active(admin_view) %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ item.name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {% for child in children %}
                      {% if child.is_active(admin_view) %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ child.get_url() }}">{{ child.name }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% else %}
                {% if item.is_accessible() %}
                  {% if item.is_active(admin_view) %}<li class="active">{% else %}<li>{% endif %}
                    <a href="{{ item.get_url() }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          {% endblock %}
        </div>


    <div id="content" class="span10">
          {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, m in messages %}
          {% if category == 'error' %}
          <div class="alert alert-error">
          {% else %}
          <div class="alert">
          {% endif %}
            <a href="#" class="close" data-dismiss="alert">x</a>
            {{ m }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      {% block body %}{% endblock %}
    </div>

    {% endblock %}
  </div>
  </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='chosen/chosen.jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='js/jquery.browser.js') }}" type="text/javascript"></script>

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <!-- TODO: Do a local instalation fallback to tinymce -->

    <script>
            // tinymce.init({selector:'.html_editor'});
    </script>
    <script type="text/javascript">
    tinymce.init({
        selector: ".html_editor",
        content_css : "{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}, {{ url_for('admin.static', filename='bootstrap/css/bootstrap-responsive.css') }}",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ]
    });
    </script>

    {% block tail %}
    {% endblock %}
  </body>
</html>
