.icon-block {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.icon-block p {
  min-height: 150px;
}

main h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .icon-block p {
    min-height: 200px;
  }
}

@media (max-width: 600px) {
  .icon-block p {
    min-height: inherit;
  }
}
