{% extends theme("base.html") %}

{% block content %}

{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}
{% include theme("security/_messages.html") %}
<h1>Login</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form-horizontal" role="form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, class="form-control", placeholder="you@domain.com") }}
  {{ render_field_with_errors(login_user_form.password, class="form-control") }}
  {{ render_field_with_errors(login_user_form.remember, class='form-control', css_class="col-sm-1", style="height:14px;") }}
  {{ render_field(login_user_form.next) }}
  {{ render_button(login_user_form.submit, class="btn btn-primary") }}
</form>

{% include theme("security/_menu.html") %}

{% endblock %}