{% extends "base.html" %}

{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_button %}
{% include "security/_messages.html" %}
<h1>Login</h1>
<form class="form-horizontal" role="form" action="{{ url_for_security('login') }}" method="POST" name="send_login_form">
  {{ send_login_form.hidden_tag() }}
  {{ render_field_with_errors(send_login_form.email, class="form-control") }}
  {{ render_button(send_login_form.submit, class="btn btn-primary") }}
</form>
{% include "security/_menu.html" %}

{% endblock %}