{% set CARD_SIZE = "s12 m6 l4" %}
{% set BREADCRUMB_ELEMENTS = [("Authors", "authors"), (author.name, None)] %}
{% set HIDE_AUTHOR_AVATAR = True %}
{% set HIDE_AUTHOR_NAME = True %}

{% extends "index.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/tag-category-author-index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}


{% if '&' in author.name %}
   {% set label = 'authors' %}
{% else %}
   {% set label = 'author' %}
{% endif %}

{% block title %}
Articles by {{ label }} '{{ author.name }}' | {{ SITENAME }}
{% endblock %}

{% block bannertext %}
<h2>Articles by {{ label }}</h2>
<h1>'{{ author.name }}'</h1>
{% endblock %}
