{% macro link_to(text, endpoint) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
{%- endmacro %}

{% macro render_grid_item(content) %}
<div class="col-6 col-sm-6 col-lg-4">
    <h4>
        <a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a>
    </h4>
    {% with main_image=content.get_main_image_url(thumb=True, default=None) %}
        {% if main_image %}
            <img src="{{main_image}}" style="float:left; margin-right: 10px;margin-bottom:10px;"/>
        {% endif %}
    {% endwith %}
    <p>
      {{content.get_summary()|truncate(255)|safe()}}
    </p>
    <p>
        Published at {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
    </p>
    <p>
        <a class="btn btn-default" href="{{ content.get_absolute_url() }}" role="button">Read more &raquo;</a>
    </p>
</div><!--/span-->
{% endmacro %}

{% macro render_grid(contents) %}
   {% for content in contents %}
       {{render_grid_item(content)}}
   {% endfor %}
{% endmacro %}


{% macro render_list_item(content) %}
<section class="post">
    <header class="post-header">
        <a href="" title="See posts by {{ content.created_by.display_name }}">
            {% if content.created_by.email %}
                <img class="avatar" alt="{{ content.created_by.name }}" src="{{ content.created_by.email | gravatar(size=64) }}">
            {% endif %}
        </a>
        <h3><a class="post-title" href="{{ content.get_absolute_url() }}">{{ content.title }}</a></h3>
            <p class="post-meta">
              {% with main_image=content.get_main_image_url(thumb=True, default=None) %}
                  {% if main_image %}
                      <img src="{{main_image}}" style="float:left; margin-right: 10px;margin-bottom:10px;"/>
                  {% endif %}
              {% endwith %}
              {{content.get_summary()|truncate(255)|safe()}}
            </p>
            <p>
                <a class="pure-button pure-button-primary" href="{{ content.get_absolute_url()}}">Read more...</a>
            </p>
            <p class="post-meta">
                in <a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
            </p>
    </header>
</section>
{% endmacro %}

{% macro render_list(contents) %}
   {% for content in contents %}
       {{render_list_item(content)}}
   {% endfor %}
{% endmacro %}


{# --- Content areas ----- #}
{% macro load_share_area(content) %}

<div class="sharing">
  <p class="post-meta">
      // Share
  </p>
    <!-- Facebook sharing -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId={{ Config.get('site', 'FACEBOOK_APPID', '') }}&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-share-button" data-href="{{ content.get_http_url() }}" data-type="button_count"></div>

    <!-- Google+ sharing -->
    <div class="g-plus alinhar" data-action="share" data-annotation="bubble" data-href="{{ content.get_http_url() }}"></div>

    <!-- Twitter sharing -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt" style="margin-bottom: -4px !important;">Tweetar</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

{% endmacro %}

{% macro render_license_area(content) %}
{% if content.license.title %}
  <div class="licence">
  {% if content.license.identifier == 'creative_commons_by_nc_nd' %}
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
    <img alt="Licença Creative Commons"
         style="border-width:0"
         src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/></a><br/>
         <a xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
      href="{{content.get_absolute_url()}}">"{{ content.title }}"</a> by <a
      xmlns:cc="http://creativecommons.org/ns#" href=""
      property="cc:attributionName" rel="cc:attributionURL">"{{ content.created_by.display_name }}"</a> is licensed under
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons -
      Attribution Non Commercial No Derivatives 4.0 Internacional</a>.

  {% else %}
    <a xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
  href="{{content.get_absolute_url()}}">"{{ content.title }}"</a> by <a
  xmlns:cc="{{content.license.link}}s#" href=""
  property="cc:attributionName" rel="cc:attributionURL">"{{ content.created_by.display_name }}"</a> is licensed under
  <a rel="license" href="{{content.license.link}}">{{content.license.title}}</a>
  {% endif %}
  </div>
{% endif %}
{% endmacro %}


{% macro render_recommend_item(content) %}

    <li class="post-header">
      <a class="post-title-small" href="{{ content.get_absolute_url() }}">{{ content.title }}</a>
            <small>
                in <a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
            </small>

    </li>
{% endmacro %}


{% macro load_recommendation_area(content) %}

 {% with %}
   {% set recommendations=content.get_recommendations()%}
      {% if recommendations %}
        <div>
          <p class="post-meta">
              // You may also like
          </p>
         {% for item in recommendations %}
            {{render_recommend_item(item)}}
         {% endfor %}
       </div>
     {% endif %}
 {% endwith %}

{% endmacro %}

{% macro load_tags_area(content) %}
 <div>
  {% for tag in content.tags %}
      <a href="{{url_for('tag', tag=tag)}}">{{tag}}</a>
  {% endfor %}
 </div>
{% endmacro %}

{% macro load_comment_area(content) %}
    {% if content.comments_enabled %}
            <hr />
            <p class="post-meta">
                // Comment
            </p>
        {% if Config.get('comments', 'system') == 'internal' %}
            <div id="comment-area" data-system="internal" data-path="{{url_for('comments.comment', path=content.long_slug)}}"></div>
        {% elif Config.get('comments', 'system') == 'custom'%}
            {{Config.get('comments', 'custom_script', '')|safe()}}
        {% elif Config.get('comments', 'system') == 'disqus'%}
           {%if Config.get('comments', 'disqus_script') %}
               {{Config.get('comments', 'disqus_script', '')|safe()}}
           {% else %}
               {% include theme('disqus.html') %}
           {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro load_page_header(content, link=False) %}
    <div class="page-header">
      {% if link %}
      <h1><a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a></h1>
      {% else %}
      <h1>{{ content.title }}</h1>
      {% endif %}
    </div>
{% endmacro %}

{% macro load_page_time(content) %}
    {%if content.created_by %}
        {{ content.created_by.name }}
    {%else%}
        {{Config.get('site', 'site_author', '')}}
    {%endif%} at {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
{% endmacro %}


{% macro load_page_content(content, truncate=None) %}
        <div class="sidebar sidebar-article pure-u">
        <header class="header-article">
            <hgroup>
              <a href="/" class="back-home"><img src="{{ Config.get('site', 'site_logo_internal', theme_static('img/logo_black.png')) }}" alt="{{Config.get('site', 'site_name')}}"></a>


                <a href="" title="See posts by {{ content.created_by.name }}">
                  {% if content.created_by.email %}
                      <img class="article-avatar" alt="{{ content.created_by.name }}" src="{{ content.created_by.email | gravatar(size=200) }}">
                  {% endif %}
                </a>

                <h2 class="article-info">{{ content.created_by.display_name }}</h2>

                <ul class="author-social">
                    {% for link in content.created_by.links %}
                    <li>
                      <a target="_blank" href="{{link.link}}">
                          <i class="fa fa-lg fa-fw fa-{{link.css_class or 'globe'}}"></i>
                          <strong>{{link.title}}</strong>
                      </a>
                    </li>
                    {% endfor %}
                </ul>

                <small class="about-author">{{ content.created_by.tagline }}</small>
                <h5>Published</h5>
                <p>{{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}</p>
                <a href="/" class="back-home">&larr;Home</a>
            </hgroup>
        </header>
    </div>
    <div class="pure-u">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    <h1>{{ content.title }}</h1>
                        <p class="post-meta">
                            // Tags {% for tag in content.tags %}
                                <a class="post-category" href="{{url_for('tag', tag=tag)}}">{{ tag }}</a>
                            {% endfor %}
                        </p>
                </header>

                 {% with main_image=content.get_main_image_url(thumb=False, default=None) %}
                      {% if main_image %}
                            <div style="background-image:url({{main_image}});height:200px;background-repeat: no-repeat;background-position-y: center;">
                            </div>
                      {% endif %}
                 {% endwith %}

            </section>
            {{ content.get_text()|safe() }}

            {{render_license_area(content)}}
            {{load_share_area(content)}}

        <div class="hr"></div>
            <a href="#" class="go-top">Go Top</a>
            {{load_recommendation_area(content)}}
            {{ load_comment_area(content) }}
            {% include theme('footer.html') %}
        </div>
    </div>
{% endmacro %}

{# blog list#}


{%macro render_blog_item(content) %}
    {{load_page_header(content, link=True)}}
    <div class="col-12 col-sm-12 col-lg-12">
        <small>{{load_page_time(content)}}</small>
    </div>
    <div class="col-12 col-sm-12 col-lg-12">
        {{load_page_content(content, truncate=2000)}}
        <a href="{{content.get_absolute_url()}}" class=" btn btn-info btn-xs pull-right">read more</a>
        {{load_tags_area(content)}}
    </div>
{% endmacro %}

{% macro render_blog(contents) %}
   {% for content in contents %}
       {{render_blog_item(content)}}
       <hr />
   {% endfor %}
{% endmacro %}


{# --------- pagination ----------- #}

{% macro render_pagination(pagination, endpoint) %}
<div class="pagination-wrapper content-subhead">
    {% if pagination.pages > 1 %}
    <div class="pagination">
        <div class="pagination-left">
            {% if pagination.has_prev %}
                {% if not request.args.get('per_page') %}
                <a href="{{ '{}?page={}'.format(endpoint, pagination.prev_num) }}"><span>&larr; PREVIOUS</span></a>
                {% else %}
                  <a href="{{ '{}?page={}&per_page={}'.format(endpoint, pagination.prev_num, request.args.get('per_page')) }}"><span>&larr; PREVIOUS</span></a>
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}

        </div>
        <span>PAGE {{ pagination.page }} / {{ pagination.pages }}</span>
        <div class="pagination-right">
            {% if pagination.has_next %}
                {% if not request.args.get('per_page') %}
                <a href="{{ '{}?page={}'.format(endpoint, pagination.next_num) }}">NEXT&nbsp;&rarr;</a>
                {% else %}
                  <a href="{{ '{}?page={}&per_page={}'.format(endpoint, pagination.next_num, request.args.get('per_page')) }}">NEXT&nbsp;&rarr;</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endmacro %}
