{% macro link_to(text, endpoint) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
{%- endmacro %}

{% macro render_tag_area(content)%}
tagged {% for tag in content.tags%}<a class="post-category post-category-design" href="{{url_for('tag', tag=tag)}}">{{tag}}</a> {% endfor %}
{% endmacro %}

{% macro render_grid_item(content) %}
<section class="post pure-u-2-5 pure-grid">
  <header class="post-header">
     {%if Config.get('site', 'list_avatar_enabled', default="enabled") == "enabled" %}
       {%if content.has_multiple_authors %}
           {% for author in content.get_authors()|sort(attribute="display_name") %}
                {{render_author_avatar(author, size=144 / content.get_authors()|length)}}
           {% endfor %} 
       {%else%}
          {% if content.created_by.email %}
              {{render_author_avatar(content.created_by)}}
          {% endif %}
       {%endif%}
     {% endif %}
      <h6><a class="post-title" href="{{ content.get_absolute_url() }}">{{ content.title }}</a></h6>
      <p class="post-meta">
          By {% for author in content.get_authors()%}<a href="{{url_for('authors.author', author_id=author.username)}}" class="post-author">{{ author.display_name }}</a> &middot;  {%endfor%} under <a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
      </p>
  </header>
  <div class="post-description">
        {% with main_image=content.get_main_image_url(thumb=True, default=None) %}
        {% if main_image %}
            <img src="{{main_image}}" height="48" width="48" style="float:left; margin-right: 10px;margin-bottom:10px;"/>
        {% endif %}
      {% endwith %}
      <p>

          {{content.get_summary()|truncate(255)|safe()}} 
      
      </p>
  </div>
  <div class="post-meta">
  <a class="pure-button pure-button-primary button-xsmall" href="{{ content.get_absolute_url()}}">Read more...</a>
  </div>
</section>
{% endmacro %}

{% macro render_grid(contents) %}
   {% for content in contents %}
       {{render_grid_item(content)}}
   {% else%}
       {{channel.get_text()|safe}}
   {% endfor %}
{% endmacro %}


{% macro render_author_avatar(author, size=70, css="post-avatar avatar") %}
<a href="{{url_for('authors.author', author_id=author.username)}}" title="See posts by {{ author.display_name }}">
    <img class="{{css}}" alt="{{ author.display_name }}" height="{{size}}" width="{{size}}" src="{{ author.get_gravatar_email() | gravatar(size=size) }}">
</a>
{% endmacro %}


{% macro render_author_sidebar(author, size=120, multiple=False) %}

<div {%if multiple%}class="multiple-author-sidebar"{%endif%}>
  {% if author.email and Config.get('site', 'sidebar_avatar_enabled', default='enabled') == 'enabled' %}
    {{render_author_avatar(author, size=size, css="article-avatar")}}
  {% endif %}
  <h2 class="article-info">{{ author.display_name }}</h2>
  <ul class="author-social">
  {% for link in author.links %}
    <li>
      <a target="_blank" href="{{link.link}}">
        <i class="fa fa-lg fa-fw fa-{{link.css_class or 'globe'}}"></i>
        <strong>{{link.title}}</strong>
      </a>
    </li>
  {%else%}
     <li>
      <a target="_blank" href="{{url_for('authors.author', author_id=author.username)}}">
        <i class="fa fa-lg fa-fw fa-globe"></i>
        <strong>Author`s Page</strong>
      </a>
    </li>
  {% endfor %}
  </ul>

  <small class="about-author">{{ author.tagline }}</small>
</div>
{% endmacro%}


{% macro render_list_item(content) %}
<section class="post">
  <header class="post-header">
     {%if Config.get('site', 'list_avatar_enabled', default="enabled") == "enabled" %}
       {%if content.has_multiple_authors %}
           {% for author in content.get_authors()|sort(attribute="display_name") %}
                {{render_author_avatar(author, size=144 / content.get_authors()|length)}}
           {% endfor %} 
       {%else%}
          {% if content.created_by.email %}
              {{render_author_avatar(content.created_by)}}
          {% endif %}
       {%endif%}
     {% endif %}
      <h3><a class="post-title" href="{{ content.get_absolute_url() }}">{{ content.title }}</a></h3>
      <p class="post-meta">
          By {% for author in content.get_authors()%}<a href="{{url_for('authors.author', author_id=author.username)}}" class="post-author">{{ author.display_name }}</a> &middot;  {%endfor%} under <a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
      </p>
  </header>
  <div class="post-description">
        {% with main_image=content.get_main_image_url(thumb=True, default=None) %}
        {% if main_image %}
            <img src="{{main_image}}" height="48" width="48" style="float:left; margin-right: 10px;margin-bottom:10px;"/>
        {% endif %}
      {% endwith %}
      <p>

          {{content.get_summary()|truncate(255)|safe()}} 
      
      </p>
  </div>
  <div class="post-meta">
  <a class="pure-button pure-button-primary button-xsmall" href="{{ content.get_absolute_url()}}">Read more...</a>
  </div>
</section>
{% endmacro %}

{% macro render_list(contents) %}
   {% for content in contents %}
       {{render_list_item(content)}}
   {% else%}
       {{channel.get_text()|safe}}
   {% endfor %}
{% endmacro %}


{# --- Content areas ----- #}
{% macro load_share_area(content) %}

<div class="sharing">
  <p class="post-meta">
      // Share
  </p>
    <!-- Facebook sharing -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId={{ Config.get('site', 'facebook_app_id', '') }}&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-share-button" data-href="{{ content.get_http_url() }}" data-type="button_count"></div>

    <!-- Google+ sharing -->
    <div class="g-plus alinhar" data-action="share" data-annotation="bubble" data-href="{{ content.get_http_url() }}"></div>

    <!-- Twitter sharing -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt" style="margin-bottom: -4px !important;">Tweetar</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

{% endmacro %}

{% macro render_license_area(content) %}
{% if content.license.title %}
  <div class="licence">
  {% if content.license.identifier == 'creative_commons_by_nc_nd' %}
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
    <img alt="Licença Creative Commons"
         style="border-width:0"
         src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/></a><br/>
         <a xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
      href="{{content.get_absolute_url()}}">"{{ content.title }}"</a> by <a
      xmlns:cc="http://creativecommons.org/ns#" href="{{url_for('authors.author', author_id=content.created_by.username)}}"
      property="cc:attributionName" rel="cc:attributionURL">"{{ content.created_by.display_name }}"</a> is licensed under
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons -
      Attribution Non Commercial No Derivatives 4.0 Internacional</a>.

  {% else %}
    <a xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
  href="{{content.get_absolute_url()}}">"{{ content.title }}"</a> by <a
  xmlns:cc="{{content.license.link}}s#" href=""
  property="cc:attributionName" rel="cc:attributionURL">"{{ content.created_by.display_name }}"</a> is licensed under
  <a rel="license" href="{{content.license.link}}">{{content.license.title}}</a>
  {% endif %}
  </div>
{% endif %}
{% endmacro %}


{% macro render_recommend_item(content) %}

    <li class="post-header">
      <a class="post-title-small" href="{{ content.get_absolute_url() }}">{{ content.title }}</a>
            <small>
                in <a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
            </small>

    </li>
{% endmacro %}


{% macro load_recommendation_area(content) %}

 {% with %}
   {% set recommendations=content.get_recommendations()%}
      {% if recommendations %}
        <div>
          <p class="post-meta">
              // You may also like
          </p>
         {% for item in recommendations %}
            {{render_recommend_item(item)}}
         {% endfor %}
       </div>
     {% endif %}
 {% endwith %}

{% endmacro %}

{% macro load_tags_area(content) %}
 <div>
  {% for tag in content.tags %}
      <a href="{{url_for('tag', tag=tag)}}">{{tag}}</a>
  {% endfor %}
 </div>
{% endmacro %}

{% macro load_comment_area(content) %}
    {% if content.comments_enabled %}
            <hr />
            <p class="post-meta">
                // Comment
            </p>
        {% if Config.get('comments', 'system') == 'internal' %}
            <div id="comment-area" data-system="internal" data-path="{{url_for('comments.comment', path=content.long_slug)}}"></div>
        {% elif Config.get('comments', 'system') == 'custom'%}
            {{Config.get('comments', 'custom_script', '')|safe()}}
        {% elif Config.get('comments', 'system') == 'disqus'%}
           {%if Config.get('comments', 'disqus_script') %}
               {{Config.get('comments', 'disqus_script', '')|safe()}}
           {% else %}
               {% include theme('disqus.html') %}
           {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro load_page_header(content, link=False) %}
    <div class="page-header">
      {% if link %}
      <h1><a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a></h1>
      {% else %}
      <h1>{{ content.title }}</h1>
      {% endif %}
    </div>
{% endmacro %}

{% macro load_page_time(content) %}
    {%if content.created_by %}
        {{ content.created_by.name }}
    {%else%}
        {{Config.get('site', 'site_author', '')}}
    {%endif%} at {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
{% endmacro %}


{% macro load_breadcrumbs() %}
{% if channel %}
   <small class="breadcrumb">
      {%for crumb in channel.get_ancestors()|reverse %}
          {% if loop.last and not content %}
          > <span class="active">{{crumb.title}}</span>
          {% else %}
          > <span><a href="{{crumb.get_absolute_url()}}">{{crumb.title}}</a></span>
          {% endif %}
      {% endfor %}
   </small>
{% endif %}
{% endmacro %}


{% macro load_page_content(content, truncate=None, sidebar=True, link_in_title=False, breadcrumbs=True, license=True, share=True, rec=True, comments=True, footer=True, container_css="") %}
        
        {%if sidebar %}
        <div class="sidebar sidebar-article pure-u">
        <header class="header-article">
            <hgroup>
              <a href="/" class="back-home"><img src="{{ Config.get('site', 'site_logo_internal', theme_static('img/logo_black.png')) }}" alt="{{Config.get('site', 'site_name')}}"></a>

                 {% if content.has_multiple_authors %}
                  {%for author in content.get_authors()|sort(attribute="display_name")%}
                     {{render_author_sidebar(author, size=100 / content.get_authors()|length, multiple=True)}}

                  {% endfor %}
                 {% else %}
                 {{render_author_sidebar(content.created_by)}}
                 {%endif%}

                <p>Published in {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}</p>
                <a href="/" class="back-home">&larr;Home</a>
            </hgroup>
        </header>
    </div>
    {% endif%}

    <div class="pure-u {{container_css}}">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    {% if not link_in_title %}
                    <h1>{{ content.title }}</h1>
                    {%else%}
                    <h3><a class="post-title" href="{{content.get_absolute_url()}}">{{ content.title }}</a></h3>
                    {% endif %}      
                    {% if breadcrumbs %}               
                    <p class="post-meta">
                    {{load_breadcrumbs()}}
                    </p>
                    {% endif %}
                    <p class="post-meta">
                        // Tags {% for tag in content.tags %}
                            <a class="post-category" href="{{url_for('tag', tag=tag)}}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                </header>

                 {% with main_image=content.get_main_image_url(thumb=False, default=None) %}
                      {% if main_image %}
                            <div style="background-image:url({{main_image}});height:200px;background-repeat: no-repeat;background-position-y: center;">
                            </div>
                      {% endif %}
                 {% endwith %}

            </section>

            {{ content.get_text()|safe() }}

            {% if license %}
                {{render_license_area(content)}}
            {% endif %}

            {%if share %}
                {{load_share_area(content)}}
            {% endif %}

            {%if rec%}
                {{load_recommendation_area(content)}}
            {% endif %}

            {% if comments %}
                {{ load_comment_area(content) }}
            {%endif%}

            {%if footer%}
               <a href="#" class="go-top">Go Top</a>
               {% include theme('footer.html') %}
            {%endif%}
        </div>
    </div>
{% endmacro %}

{# blog list#}

{% macro render_blog(contents) %}
   {% for content in contents %}
       {{load_page_content(content, truncate=2000, sidebar=False, link_in_title=True, breadcrumbs=False, license=False, share=False, rec=False, comments=False, footer=False, container_css="pure-blog")}}
       <div style='margin-bottom:35px;' class='pure-blog-div'>
       <a href="{{content.get_absolute_url()}}" class="pure-button pure-button-primary button-small" style="float:right;">read more...</a>
       </div>
   {% endfor %}
{% endmacro %}


{# --------- pagination ----------- #}

{% macro render_pagination(pagination, endpoint) %}
<div class="pagination-wrapper content-subhead">
    {% if pagination.pages > 1 %}
    <div class="pagination">
        <div class="pagination-left">
            {% if pagination.has_prev %}
                {% if not request.args.get('per_page') %}
                <a href="{{ '{}?page={}'.format(endpoint, pagination.prev_num) }}"><span>&larr; PREVIOUS</span></a>
                {% else %}
                  <a href="{{ '{}?page={}&per_page={}'.format(endpoint, pagination.prev_num, request.args.get('per_page')) }}"><span>&larr; PREVIOUS</span></a>
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}

        </div>
        <span>PAGE {{ pagination.page }} / {{ pagination.pages }}</span>
        <div class="pagination-right">
            {% if pagination.has_next %}
                {% if not request.args.get('per_page') %}
                <a href="{{ '{}?page={}'.format(endpoint, pagination.next_num) }}">NEXT&nbsp;&rarr;</a>
                {% else %}
                  <a href="{{ '{}?page={}&per_page={}'.format(endpoint, pagination.next_num, request.args.get('per_page')) }}">NEXT&nbsp;&rarr;</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endmacro %}
