{% extends 'index.html' %}
{% block title %}all posts // {{ super() }}{% endblock title %}
{% block pagetitle %}all posts{% endblock pagetitle %}


{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1">
        <div class="content">
            <h1 class="content-subhead">All posts</h1>
            {% for article in dates %}
                <div class="archive-item">
                    <a href="{{ SITEURL }}/{{ article.author.url }}" title="See posts by {{ article.author }}">
                        {% if article.author_gravatar %}
                            <img class="avatar" alt="{{ article.author }}" src="{{ article.author_gravatar }}">
                        {% endif %}
                    </a>
                    <h5 class="archive-date">{{ article.date|strftime('%Y') }}</h5>
                    <h4 class="archive-date">{{ article.date|strftime('%d %B') }}</h4>
                    <div class="archive-post"><a href="{{ article.url }}">{{ article.title }}</a></div>
                    <p class="archive-meta">{{ article.author }} in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
