<div class="pagination-wrapper content-subhead">
    {% if DEFAULT_PAGINATION %}
    <div class="pagination">
        <div class="pagination-left">
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ page_name }}{% if articles_page.previous_page_number() != 1 %}{{ articles_page.previous_page_number() }}{% endif %}.html"><span>&larr; Newer posts</span></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <span>Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</span>
        <div class="pagination-right">
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Older posts&nbsp;&rarr;</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
